@import '../../../styles/config/mixins';
@import '../../../styles/config/variables';

.container {
  margin-top: 8rem;
}
.button {
  margin-bottom: 5.6rem;
  color: $color-neutral-dark-grey;
  cursor: pointer;
}
