@import '../../../styles/config/mixins';
@import '../../../styles/config/variables';

.container {
  margin-top: 8rem;

  @include respond(phone) {
    margin-top: 1.6rem;
  }
}
.wrapper {
  margin-top: 16rem;
}
