@import '../../../styles/config/variables';
@import '../../../styles/config/mixins';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 48px;
  background-color: $color-neutral-grey;
}
.cart {
  height: 38px;

  @include respond(phone) {
    width: 90px;
    height: 36px !important;
  }
}

.quantity {
  color: rgb(180, 175, 175);
  font-size: 17px;
  &:active {
    color: $color-primary-orange;
    transform-origin: 25px 8px;
    transform: scale(1.1);
  }
}
.button {
  width: 33.333%;
  height: 100%;
}
.text {
  width: 33.333%;
  text-align: center;
}
