@import '../../../styles/config/variables';

.btn {
  font-size: 13px;
  text-transform: uppercase;
  color: $color-neutral-white;
  letter-spacing: 1px;
  padding: 11px 30px 11px 30px;
  display: inline-block;
  width: fit-content;
  white-space: nowrap;
}
.orange {
  background-color: $color-primary-orange;
}
.black {
  color: $color-neutral-white !important;
  background-color: $color-neutral-black;
}
.clear {
  color: $color-neutral-black;
  border: 1px solid $color-neutral-black;
}
