@import '../../styles/config/variables';
@import '../../styles/config/mixins';

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 9%;
  right: 10%;
  z-index: 9000;
  background-color: white;
  border-radius: 8px;
  min-width: 40rem;
  padding: 3.2rem 3.2rem 3.2rem 3.2rem;

  @include respond(phone) {
    position: absolute;
    left: 50%;
    top: 50%;
    right: initial;
    transform: translate(-50%, -50%);
    width: 90%;
    min-width: initial;
    padding: 2.5rem 2.3rem 2.3rem 2.5rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}

.remove_all {
  color: $color-neutral-dark-grey;
  font-size: 16px;
  text-decoration: underline;

  &:active {
    color: $color-primary-orange;
  }
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  &__title {
    color: $color-neutral-dark-grey;
    font-weight: 700;
  }
  &__cost {
    font-weight: 500;
    white-space: nowrap;
    font-size: 2rem;
  }
}
.link {
  display: block;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__wrapper {
    width: 100%;
    background-color: $color-primary-orange;

    &:active {
      background-color: #fbaf85;
    }
  }
}
.empty {
  align-self: center;
}
