@import '../../styles/config/mixins';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16rem;

  @include respond(tab-port) {
    flex-direction: column;
    margin-bottom: 11rem;
  }

  & > :first-child {
    margin-right: 12.5rem;

    @include respond(tab-port) {
      margin-right: initial;
    }
  }
  // Can't put margin bottom in first child for some reason...
  & > div {
    @include respond(tab-port) {
      margin-bottom: 5.2rem;
    }
  }
}

.reverse {
  @include respond(tab-port) {
    flex-direction: column-reverse;
  }
}
