@import '../../styles/config/variables';
@import '../../styles/config/mixins';

.content {
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.new-product {
  margin-bottom: 2.4rem;
  color: $color-primary-orange;

  &--centered {
    @include respond(tab-port) {
      text-align: center;
      margin: auto;
    }
  }
}
.title {
  margin-bottom: 2.4rem;

  &--light {
    color: $color-neutral-white;
  }

  &--centered {
    @include respond(tab-port) {
      text-align: center;
      align-self: center;
      width: 70%;
    }
  }
  @include respond(phone) {
    font-size: 36px;
    width: 100%;
    line-height: 40px;
  }
}
.description {
  width: 90%;
  margin-bottom: 4rem;
  color: $color-neutral-dark-grey;

  &--light {
    color: $color-neutral-white;
  }
  &--centered {
    @include respond(tab-port) {
      text-align: center;
      width: 90%;
      align-self: center;
      margin-bottom: 2.4rem;
    }
  }
}
