@import '../../styles/config/mixins';

.container {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  width: 100%;
  margin-bottom: 16rem;

  @include respond(tab-port) {
    flex-direction: column;
    gap: 5.2rem;
    margin-bottom: 12rem;
  }
}
.reverse {
  @include respond(tab-port) {
    flex-direction: column-reverse;
  }
}
