@import '../../styles/config/variables';
@import '../../styles/config/mixins';

.container {
  position: relative;
  background-color: $color-neutral-black;
  z-index: 1;

  @include respond(tab-port) {
    position: sticky;
    top: 0;
  }
}
.home {
  background-color: transparent !important;

  @include respond(tab-port) {
    background-color: $color-neutral-black !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;
  position: relative;

  @include respond(tab-port) {
    justify-content: initial;
  }
  @include respond(phone) {
    justify-content: space-between;
  }
}

.menu {
  display: none;

  & > svg {
    display: block;
  }

  @include respond(tab-port) {
    display: initial;
    margin-right: 4.2rem;
  }
  @include respond(phone) {
    margin-right: initial;
  }
}
.nav {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34rem;
  background-color: white;
  position: absolute;
  left: 0;
  top: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.05);
  @include respond(phone) {
    height: initial;
    padding-bottom: 3.5rem;
    padding-top: 4rem;
  }
}
.open {
  display: flex;
}
.logo {
  & > svg {
    align-self: center;
    display: block;
  }

  @include respond(tab-port) {
    margin-right: auto;
  }
  @include respond(phone) {
    margin-right: initial;
    margin: auto;
  }
}
.cart {
  position: relative;
  & > svg {
    display: block;
  }
  &__number {
    position: absolute;
    top: -6px;
    right: -17px;
    display: inline-block;
    color: white;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    padding: 0rem;
  }
}
