@import '../../styles/config/variables';

.container {
  background: url('../../assets/home/desktop/image-hero.jpg');
  background-color: $color-neutral-black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;

  &--container {
    border-bottom: 1px solid #525050;
  }
}
.line {
}
