@import '../../styles/config/variables';
@import '../../styles/config/mixins';

.container {
  background-color: $color-neutral-black;

  @include respond(tab-port) {
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;
  z-index: 100;
  position: relative;

  @include respond(tab-port) {
    justify-content: initial;
  }
  @include respond(phone) {
    justify-content: space-between;
  }
}

.menu {
  display: none;

  & > svg {
    display: block;
  }

  @include respond(tab-port) {
    display: initial;
    margin-right: 4.2rem;
  }
  @include respond(phone) {
    margin-right: initial;
  }
}
.logo {
  & > svg {
    align-self: center;
    display: block;
  }

  @include respond(tab-port) {
    margin-right: auto;
  }
  @include respond(phone) {
    margin-right: initial;
    margin: auto;
  }
}
.cart {
  & > svg {
    display: block;
  }
}
