@import '../../../styles/config/variables';
@import '../../../styles//config//mixins';

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: $color-neutral-light-black;
  margin: 0 -16.5rem;
  padding: 0 16.5rem;
  height: 60rem;

  &::before {
    content: '';
    background-image: url('../../../public/assets/home/desktop/image-hero.jpg');
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: -17%;
    left: 0;
    width: 100%;
    height: 117%;
    z-index: 0;

    @include respond(tab-port) {
      background-image: url('../../../public/assets/home/tablet/image-header.jpg');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-image: url('../../../public/assets/home/mobile/image-header.jpg');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
  @include respond(tab-land) {
    margin: 0 -8rem;
    padding: 0 8rem;
  }
  @include respond(tab-port) {
    margin: 0 -4rem;
    padding: 0 4rem;
  }
  @include respond(phone) {
    margin: 0 -2.4rem;
    padding: 0 2.4rem;
  }
}
.content {
  z-index: 0;
}
.button {
  @include respond(tab-port) {
    display: flex;
    justify-content: center;
  }
}
