@import '../../../styles/config/variables';
@import '../../../styles/config/mixins';

.product {
  margin-left: 12.5rem;
  width: 50%;
  align-self: center;

  @include respond(tab-port) {
    margin-left: 6.9rem;
  }
  @include respond(phone) {
    width: initial;
    margin-left: initial;
    align-self: initial;
  }

  &__container {
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__image {
    width: 50%;

    @include respond(phone) {
      width: 100%;
      height: 33rem;
      position: relative;
    }
  }
  &__description {
    @include respond(phone) {
      margin-top: 3.2rem;
    }
  }
}
.quantity {
  display: flex;
}
.quantity > :first-child {
  margin-right: 1.6rem;
}
.price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5rem;
}
.features {
  width: 55%;
  margin-right: 12.5rem;

  &__container {
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
  &__title {
    margin-bottom: 3.2rem;
  }
  &__description {
    white-space: pre-line;
    color: $color-neutral-dark-grey;
  }
  @include respond(tab-port) {
    margin-right: initial;
    width: 100%;
    margin-bottom: 12rem;
  }
}
.included {
  &__title {
    margin-bottom: 3.2rem;
    white-space: nowrap;
  }
  &__list {
    @include respond(tab-port) {
      margin-left: 30%;
    }
    @include respond(phone) {
      margin-left: initial;
    }
  }
  &__item {
    margin-bottom: 8px;
  }
  &__quantity {
    font-family: Helvetica;
    margin-right: 2.3rem;
    color: $color-primary-orange;
  }
  &__text {
    color: $color-neutral-dark-grey;
  }
  @include respond(tab-port) {
    display: flex;
  }
  @include respond(phone) {
    flex-direction: column;
  }
}
