@import './config/mixins';
@import './config/variables';

.u-margin-lr {
  margin-left: 16.5rem;
  margin-right: 16.5rem;

  @include respond(tab-land) {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  @include respond(tab-port) {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  @include respond(phone) {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}
.u-margin-b-s {
  margin-bottom: 12rem;
}
.u-margin-b-m {
  margin-bottom: 16.6rem;
  @include respond(tab-port) {
    margin-bottom: 12rem;
  }
  @include respond(phone) {
    margin-bottom: 8.8rem;
  }
}
.u-margin-b-l {
  margin-bottom: 20rem;

  @include respond(tab-land) {
    margin-bottom: 9.6rem;
  }
}
.u-border-r {
  border-radius: 8px;
}
.u-bgc-b {
  background-color: $color-neutral-light-black;
}
