// COLORS
$color-primary-orange: #d87d4a;
$color-primary-light-orange: #fbaf85;

$color-neutral-black: #000000;
$color-neutral-light-black: #101010;
$color-neutral-white: #ffffff;
$color-neutral-grey: #f1f1f1;
$color-neutral-light-grey: #d8d8d8;
$color-neutral-dark-grey: #7c7c7c;
